.avatar {

    border-radius: 5px;
    overflow: hidden;

}

.avatarOnline {

    border-radius: 5px;

}

.avatarOffline {

    opacity: 50%;
    filter: grayscale(100%);
}

.avatar img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 100%;

}

.avatar:hover img{

    opacity: 50%;

}


.avatarMe {

    opacity: 100%;

}

.avatarMe:hover {

    opacity: 50%;
    
}

.defaultAvatar svg {

    width: 100%;
    height: 100%;

}
