.chatBoxRoot{

    display: flex;
    flex-direction: column;

    width: 320px;
    margin: auto;
    margin-top: 50px;

    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-shadow: 0 0 200px 55px rgba(155, 0, 255, 0.05);

    padding: 24px;

    height: 750px;

    background-color: var(--color-chat-bg);

    opacity: 75%;

}
 
.chatBoxHeader{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
 
}

.avatarsInHeader {

    display: grid;
    margin-bottom: 24px;
}

.avatarBox {

    grid-row: 1;
    grid-column: 1/-1;

    display: flex;
    flex-direction: row;
    height: 96px;

}

.namesInHeader {

    grid-column: 1/-1;
    display: flex;
    flex-direction: row;

} 

.name {

    display: flex;
    margin: auto;

}

.chatWindowRoot {

    border: 1px solid var(--color-border);
    border-radius: 10px;

    background-color:var(--color-chat-main-bg);

    width: 100%;
    height: 500px;

    font-size: 24px;

    overflow: auto;

    white-space: pre-wrap;

}

.messages {

    display: flex;
    flex-direction: column;

}

.messageRoot{

    display: flex;
    flex-direction: column;

}

.txtAvatar {

    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: end;

}

.txtAvatar svg{

    height: 24px;
    opacity: 50%;

}


.npcMessage {

    text-align: left;
    margin: 10px;
    line-height: 24px;
    font-weight: lighter;
    color: var(--color-npc-text);

}

.humanMessage {

    text-align: right;
    margin: 10px;
    line-height: 24px;
    font-weight: lighter;
    color: var(--color-human-text);

}

.thinking{

    text-align: left;
    margin: 10px;
    line-height: 24px;
    font-weight: lighter;
    color: var(--color-online);
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.35s ease;

}

.thinking.show {
    opacity: 1;
    transform: translateX(0);
    animation: pulse 1.2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}