:root {
  
  --color-bg: #9575cd;  
  --color-chat-bg: #121212;
  --color-chat-main-bg:#101010;
  --color-border:#40407a;
  --color-online: #33d9b2;
  --color-text:#f7f1e3;
  --color-npc-text:#8C9EFF;
  --color-human-text: #F5F5F5;
  --color-thinking: #EA80FC;
  --color-debug-category: #ed6aff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {

  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;

}
